/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html{
  box-sizing: border-box;
}
@font-face{

    font-family: "spotify1";
    src: url("/FONTS/Circular/CircularStd-Bold.otf");
}
    @font-face{

        font-family: "spotify2";
        src: url("/FONTS/Circular/CircularStd-Book.otf");
    }
    @font-face{

        font-family: "spotify3";
        src: url("/FONTS/Circular/CircularStd-Medium.otf");
}

header{

    font-family:"spotify2";
    display: flex;
    justify-content: space-between;
    font-size: 25px;

}

header img{

    width: 15%;
    height: 15%
    ;
    padding: 10px;
}

.encabezado1{

    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
    ;
     
}

div img{
    position: relative;

    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .div1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "spotify2";
   color: white;
   font-size: 40px;
   width: 60%;
  }

  .first-articleh2{

    
        font-family: "spotify2";
        width:20%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        border-bottom: 3px solid rgb(29, 245, 173);
        line-height: 1.5em;
        padding-bottom: 3px;
        margin-left: 45%;
        font-size: 40px;
        
      }

      .container1{

        display: flex;
        flex-direction: row;
        width: 100%;
        padding:20px;
        justify-content: center;




      }

      .caja1{

        border: 1px solid white;
        font-family: "spotify1"
        ;
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 60px;
        margin: 0px;
        

      }

      .emoti{

        width: 40%;
        left: 30%;

      }


      .h3verde{

        color: rgb(29, 245, 173);
        font-size: 30px;
      }
    
      .paragraf1{

        text-align: center;
        font-size: 30px;
        
        

      }

      .cuadroverde{

       background-color:rgb(17, 194, 135) ; 
       font-family: "spotify1";
       gap:40px;

       color: white;

       font-size: 30px;

       display: flex;
       flex-direction: column;
       
       margin-left: 0;

       padding: 4rem;
       
      
       

       


      }

      .h2ultimo{

      text-decoration: underline;
      display: flex;
      justify-content: center;
      width: 70%;
      }

      .h3ultimos{

        font-size: 40px;
        ;
       
      }
        .pultima{

          
          font-size: 25px;
          font-family: "spotify2";
          
        }
.cuadroverde img{

  
  

}


#logoblanco{

width: 10%;
height: auto;


}

#kanye{

  width: 30%;
   height: auto;


}
.alignh{
display: flex;
  justify-content: space-around;
       align-items: center;
}
       .text{

        width:30%
       }





      

      

      

      
      
      
  
   


    


  

  
  
